.eval-gauge {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    position: relative;
    padding-top: 1.3em;
}

.eval-gauge__needle {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    background: #ff303b;
    border-radius: 50%;
    color: #fff;
    padding: 2px;
    text-align: center;
    transition: left 1.5s ease-in-out;
    top: 0;
}

.eval-gauge__needle::after {
    --arrow-size: 10px;
    display: block;
    content: " ";
    height: 0;
    width: 0;
    background: transparent;
    margin: -4px auto 0;
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
    border-top: var(--arrow-size) solid #ff303b;
}
