.unclickable-area {
  pointer-events: none;
}

.main-container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  width: "96%";
}

.buttons {
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.game-status,
.valid-moves {
  padding: 0 0.5em 1em 0.5em;
  width: 25%;
  max-width: 350px;
  flex: 1;
  text-align: center;
}

.valid-moves h4 {
  margin: 0;
}

.chessboard-box {
  flex: 1;
  width: 600px;
  padding: 0 0.5em 0 0;
}

.start-button Button:hover,
.game-button Button:hover {
  background-color: #bebdb8;
  color: black;
}

.game-button Button {
  border-color: black;
  color: black;
  width: 150px;
  margin: 0 1em 0 0;
}

.game-button Button:hover {
  border-color: black;
}
.is-check {
  color: red;
  font-weight: bold;
}
.game-button {
  width: 400px;
}

@media only screen and (max-width: 650px) {
  .main-container {
    max-width: 90%;
  }
  .game {
    max-width: 90%;
  }
  /* Added CSS class for moved-piece */
.moved-piece {
  background-color: yellow;
}
  .chessboard-box {
    width: 100%;
  }
  .game-status,
  .valid-moves {
    width: 100%;
  }

  .buttons {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }

  .game-button Button {
    width: 50%;
    margin: 0 0 1em 0;
  }

  .start-button Button {
    width: 100%;
  }
}
