.unclickable-area {
  pointer-events: none;
}

.main-container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  width: "96%";
  justify-content: space-between;
}

.buttons {
  padding-top: 3em;
}

.game-status {
  padding: 1em;
  width: 350px;
  max-width: 350px;
}

.valid-moves {
  padding: 1em;
  width: 350px;
  max-width: 350px;
}

.chessboard-box {
  flex: 1;
  width: 600px;
}

@media only screen and (max-width: 650px) {
  .chessboard-box {
    width: 350px;
  }
}
