.leaderboardTable {
  margin: 0 auto;
  padding: 2em;
  width: 80%;
}

@media only screen and (max-width: 800px) {
  .leaderboardTable {
    padding: 1em;
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .leaderboardTable {
    width: 350px;
  }

  td,
  th {
    width: 50px;
  }
}
