.tile {
  display: grid;
  place-content: center;
  width: 100px;
  height: 100px;
}

.tile .chess-piece {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
}

.black-tile {
  background-color: #987554;
}
.white-tile {
  background-color: #e5d3b3;
}

.tile img {
  width: 80px;
}
